<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Logfile" value="crawl.log"/>
    <add key="MaxConcurrency" value="2"/>
    <add key="Interactive" value="false"/>
  </appSettings>
</configuration>